<!DOCTYPE html>
{% load static %}
{% include 'movie/header.html' %}
<html>
<head>
    <title>Moive App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<body style="background-color:#4DB6AC;">
{% block content %}


<div class="card-columns">
    {% for movie in shelf %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../{{ movie.picture.url }}">
        <div class="card-body">
            <center>
            <h5 class="card-title">{{ movie.name }}</h5>
                <div class="card-footer bg-transparent border-dark">
                    <a href="running/{{movie.id}}" class="btn btn-warning" id='{{movie.id}}'>Add Location</a>
                </div>
            </center>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
</body>
</html>