<!-- chat/templates/chat/room.html -->

{% include 'movie/library.html' %}

<body style="background-color:#4DB6AC;">
    <center>
        <h2> {{room }}</h2>
            <table  id="chat-log" style="width:50%; background-color:white;" >
             {% for msg in message %}

                <tr>
                    {% if msg.author == user %}
                    <td id="chat-log"  style="text-align:right">
                            {{ msg.content }}  :  {{ msg.author }}
                    </td>
                    {% else %}
                    <td>
                        {{ msg.author }}  :  {{ msg.content }}
                    </td>
                    {% endif %}

                </tr>

             {% endfor %}
            </table>
        <br/><br/>



    <input id="chat-message-input" type="text" size="100" placeholder="Enter Something "/><br/> <br/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    </center>
</body>


<script>



    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + '{{room}}' + '/');


    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var user = data['user'];
        var pg_user = "{{ user }}"
        console.log(user,'username')
        console.log(pg_user,'page user')

        if(user == pg_user){

            document.querySelector('#chat-log').innerHTML += (
            "<tr><td style='text-align:right'>"+message +"  :  "+user + "</td></tr>"
            );
         }
         else{

            document.querySelector('#chat-log').innerHTML += (
            "<tr><td style='text-align:left'>"+user +"  :  " +message + "</td></tr>"
            );
         }


        console.log("message",e)

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var user = "{{ user }}"
        chatSocket.send(JSON.stringify({
            'message': message,
            'author' : user
        }));

        messageInputDom.value = '';
    };
</script>


</html>